node_modules/*
!node_modules/gun
npm-debug.log
*data*
*.db
.idea/
*.bak
*.new
*.DS_store
.esm-cache
.sessionStorage
.localStorage

background.js
backup.js
backup/
content.js
frame.html
frame.js
graph.html
graph.js
manifest.json
options.html
options.js
popup.html
popup.js